FOLDER_ID=your_folder_id              # ID of the gDrive folder where the files will be uploaded
SCRIPT_ID=your_script_id              # Your Google Apps Script project ID
PROCESSED_LABEL_NAME=GDrive_Processed # Gmail label for processed threads
